* {
  margin: 0px;
  padding: 0px;
}
/* home page */
.title {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 55px;
  color: rgb(6, 74, 74);
}
body {
  height: 135vh;
}
table {
  margin: 20px 10px;
  border: 1px solid black;
  border-collapse: collapse;
}
table th {
  height: 50px;
  border: 1px solid black;
  color: aliceblue;
  border-collapse: collapse;
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(4, 117, 117);
}
tr td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px 20px;
  height: 95px;
  background-color: rgba(5, 205, 205, 0.49);
}

a {
  text-decoration: none;
  color: red;
}

#khed {
  text-align: center;
}

#khed b {
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px;
  background-color: wheat;
}
